.er-top {
  display: block;
  padding: 0;
  background-color: #3f3f3f;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__placer {
    position: relative;
    padding: 12px 0;
  }
  &__place {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 340px;
    padding: 24px;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.14);
    z-index: 99;
    &:before {
      display: block;
      position: absolute;
      left: 15px;
      top: -20px;
      width: 58px;
      height: 56px;
      content: '';
      background: url('../images/icon_city.png') no-repeat center;
      z-index: 98;
    }
    p {
      display: block;
      margin-bottom: 10px;
      color: #3f3f3f;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
    }
    &-city {
      display: block;
      position: relative;
      margin-bottom: 16px;
      border-radius: 3px;
      border: 1px solid #1fa860;
      background: #ffffff url('../images/icon_select.png') no-repeat 96% center;
      color: #3f3f3f;
      font-family: "Proxima Nova";
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      select {
        display: block;
        width: 100%;
        height: 100%;
        padding: 6px 12px;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
      }
    }
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
    &-button {
      display: inline-block;
      flex: 0 1 140px;
      padding: 11px;
      border: none;
      outline: none;
      border-radius: 3px;
      background-color: #858585;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #3f3f3f;
        color: #29d87c;
        text-decoration: none;
      }
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 830px;
  }
  &__item {
    display: inline-flex;
    align-items: center;
    img {
      display: inline-block;
      margin-right: 8px;
    }
    a {
      display: inline-block;
      border-bottom: 1px dashed #717171;
      color: #fefffe;
      line-height: 1.1;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #1da961;
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      line-height: 1.71;
    }
    &_green {
      a {
        color: #1da961;
        border-bottom-color: #2b7450;
      }
    }
  }
}

.er-header {
  display: block;
  background-color: #eef2f4;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    transition: all 0.15s ease-out;
    img {
      max-width: 100%;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 8px 52px;
    border-radius: 3px;
    border: 1px solid #1da960;
    background-color: #1ea862;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffffff;
      color: #1da961;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    list-style: none;
    &-block {
      flex: 0 1 690px;
    }
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 33px 4px;
        color: #3f3f3f;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #1da961;
          text-decoration: none;
        }
      }
    }
  }
  &__switcher {
    display: none;
    padding: 6px;
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -135px;
    width: 270px;
    z-index: 101;
    li {
      display: block;
      position: relative;
      &:first-child {
        &:before {
          display: block;
          position: absolute;
          width: 24px;
          height: 16px;
          bottom: 100%;
          left: 50%;
          margin-left: -12px;
          content: '';
          background: url('../images/icon_drop.png') no-repeat top;
          background-size: cover;
          z-index: 9;
        }
      }
      a {
        display: block;
        padding: 14px 24px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
        background-color: #3f3f3f;
        color: #fefffe;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 300;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
          background-color: #1fa860;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__droper {
    position: relative;
    &:hover {
      .er-header__drop {
        display: block;
      }
    }
  }
}

.er-home-welcome {
  direction: block;
  margin: 25px 0 35px 0;
  &__card {
    display: block;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 315px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__title {
    direction: block;
    max-width: 1000px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 46px;
    font-weight: 600;
    text-align: center;
  }
  .slick-prev:before {
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    background: url('../images/icon_arrow_left_3.png') no-repeat center;
    background-size: cover;
  }
  .slick-next:before {
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    background: url('../images/icon_arrow_right_3.png') no-repeat center;
    background-size: cover;
  }
  .slick-next,
  .slick-prev {
    z-index: 10;
  }
  .slick-prev {
    left: 40px;
  }
  .slick-next {
    right: 40px;
  }
  .slick-dots li button:before {
    color: #ffffff;
    font-size: 11px;
  }
  .slick-dots {
    bottom: 10px;
  }
}

.er-cards {
  display: block;
  margin-bottom: 18px;
  padding: 40px;
  border-radius: 3px;
  background-color: #eef2f4;
  &__title {
    display: block;
    margin-bottom: 24px;
    color: #4a4a4a;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
  }
  &__searching {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 9px 49px rgba(34, 34, 34, 0.04);
    border-radius: 3px;
    background-color: #ffffff;
  }
  &__select {
    display: inline-block;
    flex: 0 1 370px;
    position: relative;
    border-radius: 3px;
    border: 1px solid #1fa860;
    background: #ffffff url('../images/icon_select.png') no-repeat 96% center;
    color: #060606;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    select {
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px 40px 20px 20px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
    }
  }
  &__search {
    display: inline-flex;
    align-items: stretch;
    flex: 0 1 642px;
    input {
      display: inline-block;
      flex: 1;
      padding: 20px 25px;
      outline: none;
      border-radius: 3px 0 0 3px;
      border: 1px solid #1fa860;
      background-color: rgba(238, 238, 238, 0);
    }
    button {
      display: inline-block;
      padding: 22px 50px;
      border: 0;
      outline: none;
      border-radius: 0 3px 3px 0;
      background-color: #1fa860;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        padding: 22px 55px;
        text-decoration: none;
      }
    }
  }
}

.er-blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.er-block {
  display: inline-flex;
  align-items: center;
  flex: 0 1 345px;
  height: 120px;
  margin-bottom: 12px;
  padding: 20px 10px 20px 30px;
  box-shadow: 0 9px 49px rgba(34, 34, 34, 0.04);
  border-radius: 3px;
  background-color: #ffffff;
  img {
    display: inline-block;
    margin-right: 15px;
  }
  &__title {
    display: inline-block;
    max-width: 265px;
    color: #010101;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
  }
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    transform: scale(0.95);
    text-decoration: none;
  }
}

.er-emits {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.er-emit {
  display: inline-flex;
  align-items: center;
  flex: 0 1 341px;
  height: 120px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 20px 10px 20px 30px;
  box-shadow: 0 9px 49px rgba(34, 34, 34, 0.04);
  border-radius: 3px;
  background-color: #ffffff;
  img {
    display: inline-block;
    margin-right: 15px;
  }
  &__title {
    display: inline-block;
    max-width: 265px;
    color: #010101;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
  }
  transition: all 0.15s ease-out;
  &_more {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    .er-emit__title {
      display: block;
      margin-bottom: 4px;
    }
    &:hover,
    &:active,
    &:focus {
      transform: scale(1) !important;
    }
  }
  &__search {
    display: block;
    width: 100%;
    position: relative;
    input {
      display: block;
      width: 100%;
      padding: 10px 40px 10px 10px;
      border-radius: 3px;
      outline: none;
      border: 1px solid rgba(190, 190, 190, 0.38);
      background-color: #ffffff;
      color: #828383;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
    }
    button {
      display: block;
      position: absolute;
      background: transparent;
      border: none;
      outline: none;
      width: 14px;
      height: 14px;
      right: 18px;
      top: 50%;
      margin-top: -8px;
      img {
        display: block;
      }
    }
  }
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    transform: scale(0.95);
    text-decoration: none;
  }
}

.er-news {
  display: block;
  margin-top: 15px;
  padding: 85px 0;
  background-color: #ecf0f2;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #4a4a4a;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
}

.er-news-cards {
  display: block;
  .slick-slide {
    margin: 0 10px 10px 10px;
  }
  .slick-prev:before {
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    background: url('../images/arrow_left.png') no-repeat center;
    background-size: cover;
  }
  .slick-next:before {
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    background: url('../images/arrow_right.png') no-repeat center;
    background-size: cover;
  }
}

.er-news-card {
  display: inline-block;
  max-width: 265px;
  height: 390px;
  outline: none;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  background-color: #ffffff;
  &__image {
    display: block;
    width: 100%;
    height: 155px;
    border-radius: 3px 3px 0 0;
    object-fit: cover;
  }
  &__content {
    display: block;
    padding: 20px 20px 25px 20px;
  }
  &__date {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    img {
      display: inline-block;
      margin-right: 10px;
    }
    span {
      display: inline-block;
      color: #656565;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
    }
  }
  &__title {
    display: block;
    height: 42px;
    overflow: hidden;
    margin-bottom: 10px;
    color: #1da960;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  p {
    display: block;
    height: 90px;
    overflow: hidden;
    margin-bottom: 6px;
    color: #4a4848;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
  }
  &__more {
    display: inline-block;
    border-bottom: 1px solid #c5ead7;
    color: #1da960;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      text-decoration: none;
    }
  }
}

.er-reviews-block {
  display: block;
  padding: 85px 0 40px 0;
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #4a4a4a;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
}

.er-reviews {
  display: block;
  max-width: 880px;
  margin: 0 auto;
  .slick-prev {
    width: 46px;
    height: 46px;
    left: -100px;
    background: url('../images/arrow_2_left.png') no-repeat center;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
  .slick-next {
    width: 46px;
    height: 46px;
    right: -100px;
    background: url('../images/arrow_2_right.png') no-repeat center;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
}

.er-review {
  display: block;
  p {
    display: block;
    margin-bottom: 15px;
    color: #363636;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: justify;
    text-align-last: left;
  }
  &__author {
    display: block;
    color: #363636;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
    text-align: right;
  }
}

.er-article {
  display: block;
  padding: 110px 0 0 0;
  background-color: #f6f8f9;
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #4a4a4a;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  p {
    display: block;
    margin-bottom: 20px;
    color: #1e1e1e;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
  }
}

.er-companies-block {
  display: block;
  padding: 0 0 70px 0;
  background-color: #f6f8f9;
}

.er-companies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.er-company {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  margin-bottom: 5px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  background-color: #ffffff;
  img {
    max-width: 100%;
  }
}

.er-footer {
  display: block;
  padding: 30px 0 20px 0;
  background-color: #3f3f3f;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__about {
    display: inline-block;
    span {
      display: block;
      max-width: 390px;
      margin-bottom: 8px;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 700;
    }
    p {
      display: block;
      max-width: 250px;
      color: #969595;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
    }
  }
  &__pdf {
    display: inline-flex;
    align-items: center;
    img {
      display: inline-block;
      margin-right: 10px;
    }
    a {
      display: inline-block;
      border-bottom: 1px solid #878787;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 700;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        text-decoration: none;
      }
    }
  }
  &__nav {
    display: inline-block;
    list-style: none;
    li {
      display: block;
      a {
        display: inline-block;
        margin-bottom: 10px;
        border-bottom: 1px solid #878787;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        line-height: 1.1;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          text-decoration: none;
        }
      }
    }
  }
  &__info {
    display: inline-block;
    &>div {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      img {
        display: inline-block;
        margin-right: 10px;
      }
      span {
        display: inline-block;
        color: #fffffd;
        font-family: "Proxima Nova";
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
      }
      a {
        display: inline-block;
        border-bottom: 1px solid #878787;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 300;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          text-decoration: none;
        }
      }
    }
  }
}

.er-main {
  display: block;
  padding: 25px 0 100px 0;
  background: #ffffff;
  &__title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 20px;
    span {
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 30px;
      font-weight: 300;
    }
  }
  &__buttons {
    display: inline-block;
    margin-left: 30px;
    a {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 22px;
      border-radius: 3px;
      border: 1px solid #1da960;
      background-color: rgba(30, 168, 98, 0);
      color: #1ea862;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #1da960;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__search {
    display: flex;
    align-items: stretch;
    margin-bottom: 40px;
    input {
      display: inline-block;
      flex: 1;
      padding: 14px 25px;
      border: 1px solid #1fa860;
      outline: none;
      background-color: rgba(238, 238, 238, 0);
      color: #515151;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
    }
    button {
      display: inline-block;
      padding: 16px 50px;
      background-color: #1fa860;
      border: 0;
      outline: none;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        padding: 16px 60px;
        text-decoration: none;
      }
    }
  }
}

.er-breadcrumps {
  display: block;
  margin-bottom: 30px;
  list-style: none;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  li {
    display: inline-block;
    a {
      display: inline-block;
      border-bottom: 1px solid #bfbfbf;
      color: #000000;
      line-height: 1.1;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      margin: 0 10px;
    }
  }
}

.er-aside {
  display: block;
  list-style: none;
  li {
    display: block;
    a {
      display: block;
      margin-bottom: 1px;
      padding: 14px 24px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
      background-color: #f7f7f7;
      color: #010101;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
        background-color: #1fa860;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.er-collapse__content {
  display: none;
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: 4px solid #1fa860;
}

.er-pre-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease-out;
  &:hover,
  &:active {
    opacity: 0.8;
    text-decoration: none;
  }
  &__arrow {
    display: inline-block;
    transition: all 0.15s ease-out;
    &_rotated {
      transform: rotate(270deg) !important;
    }
  }
  span {
    display: block;
    margin: 15px 0;
    color: #363636;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
  }
  p {
    display: block;
    margin-bottom: 20px;
    color: #363636;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 300;
  }
}

.er-table {
  position: relative;
  margin-bottom: 20px;
  &__number {
    display: block;
    text-align: center;
  }
  &__pdf {
    display: inline-flex;
    align-items: center;
    a {
      display: inline-block;
      border-bottom: 1px solid #bfbfbf;
      color: #363636;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;
      line-height: 1.1;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        text-decoration: none;
      }
    }
  }
  &_th {
    &_padding {
      tbody>tr>td {
        padding: 24px !important;
      }
    }
  }
  &_thead {
    &_padding {
      thead>tr>th {
        padding: 24px !important;
      }
      tbody>tr>td,
      tbody>tr>th {
        padding: 12px 10px !important;
      }
    }
  }
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 16px 20px;
  vertical-align: middle;
  border: 2px solid #ffffff;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  padding: 16px 20px;
  vertical-align: middle;
  border: 2px solid #ffffff;
  background-color: #f7f7f7;
  color: #363636;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
}

.table>thead>tr>td,
.table>thead>tr>th {
  padding: 16px 20px;
  vertical-align: middle;
  border: 2px solid #ffffff;
  background-color: #eeeeee;
  color: #363636;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
}

.er-registers {
  &__update {
    display: block;
    margin-bottom: 35px;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
  }
  &__searching {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  &__select {
    display: inline-block;
    flex: 0 1 300px;
    position: relative;
    border-radius: 3px;
    border: 1px solid #1fa860;
    background: #ffffff url('../images/icon_select.png') no-repeat 96% center;
    color: #060606;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    select {
      display: block;
      width: 100%;
      height: 100%;
      padding: 12px 35px 12px 20px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
    }
  }
  &__search {
    display: inline-flex;
    align-items: stretch;
    flex: 0 1 540px;
    input {
      display: inline-block;
      flex: 1;
      padding: 12px 25px;
      outline: none;
      border-radius: 3px 0 0 3px;
      border: 1px solid #1fa860;
      background-color: rgba(238, 238, 238, 0);
      color: #515151;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
    }
    button {
      display: inline-block;
      padding: 12px 50px;
      border: 0;
      outline: none;
      border-radius: 0 3px 3px 0;
      background-color: #1fa860;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        padding: 12px 55px;
        text-decoration: none;
      }
    }
  }
}

.h-text-center {
  text-align: center;
}

.er-text {
  display: block;
  color: #515151;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 50px auto;
  }
  p {
    display: block;
    margin-bottom: 40px;
    line-height: 1.6;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin-bottom: 16px;
    color: #000000;
    font-family: "Proxima Nova";
    font-weight: 700;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
  blockquote {
    display: block;
    margin: 30px 0 55px;
    padding-left: 120px;
    border: none;
    background: url('../images/icon_quote.png') no-repeat left center;
    color: #000000;
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    line-height: 1.44;
  }
}

.er-login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #3f3f3f;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__reg {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    color: #2b2b2b;
    a {
      color: #1fa860;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  p {
    display: block;
    max-width: 520px;
    margin-bottom: 20px;
    color: #616161;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  input {
    display: block;
    width: 340px;
    margin-bottom: 12px;
    padding: 18px 20px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #7a7a7a;
    background-color: rgba(238, 238, 238, 0);
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #1ea860;
      text-decoration: none;
    }
  }
  button {
    display: block;
    width: 340px;
    margin-bottom: 32px;
    padding: 18px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #1ea860;
    text-align: center;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}