@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .er-top__right {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .er-top__item {
    margin-bottom: 5px;
  }
  .er-header {
    padding: 10px 0;
  }
  .er-header__nav {
    display: none;
    position: absolute;
    min-width: 260px;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    z-index: 100;
    li {
      display: block;
      a {
        display: block;
        padding: 8px;
        color: #ffffff;
      }
    }
  }
  .er-header__nav-block {
    position: relative;
  }
  .er-header__button {
    margin: 10px auto 0 auto;
  }
  .er-home-welcome__title {
    font-size: 32px;
    text-align: center;
  }
  .er-cards {
    padding: 10px 5px 5px 5px;
  }
  .er-cards__title {
    margin-bottom: 10px;
  }
  .er-cards__searching {
    padding: 5px;
  }
  .er-cards__select select {
    padding: 12px 6px;
  }
  .er-cards__search {
    margin-top: 5px;
  }
  .er-cards__search input {
    padding: 12px 6px;
  }
  .er-cards__search button {
    padding: 12px;
    &:hover,
    &:active,
    &:focus {
      padding: 12px 24px;
    }
  }
  .er-cards__title {
    font-size: 24px;
  }
  .er-emit {
    margin: 0 0 5px 0;
  }
  .er-news {
    padding: 20px 0;
  }
  .er-reviews-block {
    padding: 20px 0;
  }
  .er-reviews-block__title {
    margin-bottom: 20px;
  }
  .er-article {
    padding: 20px 0;
  }
  .er-article__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .er-companies-block {
    padding-bottom: 20px;
  }
  .er-footer .container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .er-footer__nav {
    margin: 10px 0;
  }
  .er-reviews .slick-prev {
    left: 0;
    opacity: 0.4;
  }
  .er-reviews .slick-next {
    right: 0;
    opacity: 0.4;
  }
  .er-news-cards {
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
    .slick-next,
    .slick-prev {
      z-index: 10;
    }
  }
  .er-news-cards .slick-slide {
    margin: 0 20px 0 20px;
  }
  .er-home-welcome .slick-prev {
    left: 10px;
  }
  .er-home-welcome .slick-next {
    right: 10px;
  }
  .er-header__switcher {
    display: inline-block;
  }
  .er-header__nav-block {
    flex: 0 44px;
  }
  .er-table {
    .text-center {
      text-align: left;
      font-weight: 700;
      font-size: 20px;
    }
  }
  .er-main__title {
    margin: 20px 0;
    span {
      font-size: 26px;
    }
  }
  .er-main__search button {
    padding: 14px;
    &:hover,
    &:active,
    &:focus {
      padding: 14px 20px;
    }
  }
  .er-main__search input {
    padding: 14px;
  }
  .er-main__search {
    margin-bottom: 20px;
  }
  .er-main {
    padding: 25px 0;
  }
  .er-registers__select select {
    flex: 1;
  }
  .er-registers__select {
    margin-bottom: 5px;
  }
  .er-registers__search input {
    padding: 12px 6px;
  }
  .er-registers__search button {
    padding: 12px;
    &:hover,
    &:active,
    &:focus {
      padding: 12px 20px;
    }
  }
  .er-main__buttons {
    margin: 10px 0 0 0;
    a {
      margin: 0 0 5px 0;
      padding: 10px 8px;
    }
  }
  .er-text blockquote {
    margin: 0 0 20px 0;
    padding: 0;
    background-position: center center;
  }
  .er-text img {
    margin-bottom: 20px;
  }
  .er-text p {
    margin-bottom: 20px;
  }
  .er-login {
    min-height: auto;
  }
  .er-login input {
    width: 100%;
  }
  .er-login form {
    width: 90%;
  }
  .er-login button {
    width: 100%;
  }
  .er-top__item {
    padding: 4px 0;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}