// bower:scss
// endbower
body {
  overflow-x: hidden;
  color: #363636;
  line-height: 1.2;
  font-family: "Proxima Nova";
  font-size: 16px;
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url('../fonts/ProximaNovaRegular.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url('../fonts/ProximaNovaLight.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url('../fonts/ProximaNovaBold.otf');
}

@import "atoms";
@import "restyle";
@import "responsive";